/* -- Global -- */
body {
    font-family: 'Roboto Condensed', 'Saira Extra Condensed';
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 0%, 45%);
}
:root {
    --hue-neutral: 1000;
    --hue-wrong: 0; 
    --hue-correct: 145;
}
body.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 30%);
}
body.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 100%, 30%);
} 
*, *::before, *::after {
    box-sizing: border-box;
}
.hide {
    display: none;
}

/* -- Heading -- */
.logo {
    width: 100px;
    height: 70px;
    padding-right: 5px;
}
h1 {
    font-family: 'Roboto Condensed', 'Saira Extra Condensed';
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    color: rgb(40, 252, 249);
}
/* -- Game layout -- */
.game-area {
    text-align: center;
    width: 800px;
    box-sizing: border-box;
    max-width: 80%;
    background-color: rgb(105,105,105);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 2px;
}
#question-container {
    width: 80%;
    font-size: 2rem;
    margin: auto;
    padding: 40px 0;
    font-weight: bold;
}
.score-area {
    text-align: center;
    margin: 5px auto;
    width: 60%;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    color: rgb(40, 252, 249);
}
.scores {
    display: inline-block;
    padding: 25px;
}
#correct {
    color: green;
    font-weight: bold;
}
#incorrect {
    color: red;
    font-weight: bold;
}
.controls {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#timer-area {
    font-size: 1.3rem;
    float: right;
    font-weight: bold;
    align-items: center;
    width: 145px;
    height: 50px;
    background-color: rgb(217, 217, 217);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 8px;
    color: rgb(0, 111, 201);
}
#timer-sec {
    font-size: 18px;
    font-weight: 500;
    background: black;
    height: 25px;
    color: rgb(0, 111, 201);
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid black
}
#question {
    color: rgb(40, 252, 249);
}
/* -- Buttons -- */
#answer-btns{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 20px 0; 

}
.btn {
    --hue: var(--hue-neutral);
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(0, 111, 201);
    outline: none; 
    font-size: 1.5rem;
    font-weight: bold;

}
.btn:hover {
    border-color: black;
    color:rgb(40, 252, 249);
}
.btn.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 30%);
    color: white;
}
.btn.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 100%, 30%);
    color: white;
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px 20px;
}
/* -- Media queries -- */
@media (max-width: 770px) {
    .controls {
        width: 100%;
    }
    .game-area{
        width:70%;
        height:60%;
        position:relative;
    }
    .question-container {
        font-size: 1.5rem;
        padding: 10% 0;
        width: 100%;
    }
    .score-area {
        width: 100%;
    }
    .scores {
        margin: 0.5em auto;
        display: inline-block;
        padding: 5px;
    }
    .header {
        font-size: 175%;
        display: flex;
        
    }
    .btn {
        font-size: 60%;
    }
    #answer-btns {
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin:S 0; 
        width:100%;
    }
    #start-btn {
        width:100%;
        height: 40%;
        position: absolute;
        bottom: 0;
    }
    #next-btn{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    #timer-area{
        margin: 0.5em auto;
        font-size: smaller;
        height: 8%;

    
    }
    #question {
        font-size: 60%;
    }
    #right {
        float: left;
    }
    #wrong {
        float:right;
    }
    
  
}


@media (max-width: 600px) {
    .game-area {
        left: 0;
        margin:0 auto;
        padding:10px;
    }
    .controls {
        width: 75%;
        margin: 10px auto;
    }
    .question-container {
        padding: 10px 0;
    }
}
